@CHARSET "GBK";
body {
	line-height: 1.6;
	font-family:"幼圆";
	color: #222;
	font-size: 14px;
	margin:2 2 2 2;
}
.count{
	width:500px;
	top: 25px;
	right: 0;
	padding: 25px 35px 20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.5),-3px -3px 5px rgba(0,0,0,0.5);
	background-color: #FFF;
	margin-left:125px;
	margin-top:50px;
}
。count h1{
	font-weight:normal;
	font-size:5px;
	align:center;
}
.login-btn-panel {
	margin-top: 20px;
	padding-bottom: 10px;
}
.login-btn {
	display: inline-block;
	display: inline-block;
	width: 120px;
	margin-right: 15px;
	line-height: 35px;
	background-color: #44b549;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	
}
a {
	cursor: pointer;
}